@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;600;700&display=swap");



.result{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.order{
    display: flex;
    align-items: center;
    gap: 2px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 5px 5px 5px grey;
    padding: 10px;
    width: 250px;
}
.cart{
    height:100%;
    margin: auto;
}
.cartcont {
  display: flex;
  align-items: center;
  gap:5px;
  border: 2px solid rgb(248, 225, 225);
  padding: 5px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.1);
}

.cartimg {
  width: 70px;
  height: 70px; 
  border-radius: 50%;
}

.content p{
  color: green;
  font-weight: bolder;
}
.content{
  display: flex;
  height: 100px;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
}
.symb{
  display: flex;
  gap: 5px;
}
.btns {
  display: flex;
  align-items: center;
  gap: 10px; /* Adjust gap between buttons */
}
.check-item{
  font-weight: bolder;
}
.checkout ul li{
display: flex;
justify-content: space-between;
align-items: center;
font-weight: 900;
}
.total{
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  align-items: center;
}

/* modal-form css */

.modal-form {
  width: 100%;
  max-width: 600px;
  height: auto;
  padding: 20px;
}

.modal-form h6 {
  margin-top: 0;
}

.modal-form ul {
  padding-left: 0;
  margin-top: 10px;
}

.modal-form li {
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
  border-bottom: 1px solid #eaeaea;
}
.single-info{
  background-color: #fff;
  padding: 20px;
}

.modal-form ul li {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}
.modal-form ul li p{
 font-weight: bolder;
}
.addinfo, .modal-item{
  font-weight: bolder;
  color: green;
}
.modal-form .btn, .modal-form button{
  border: none;
  cursor: pointer;
  margin-left: 30%;
  margin-top: 5px;
  border-radius: 10px;
}
button{
  border: none;
  border-radius: 10px;
}
.modal-form button{
  margin-left: 50%;
  cursor: pointer;
}

.modal-form ul li p {
  margin: 0;
}

.modal-form .total {
  margin-top: 20px;
}

.modal-form .total span {
  font-weight: bold;
}

.modal-form .total h4 {
  margin-bottom: 5px;
}
.modal-all {
  width: 350px;
  height:700px;
  z-index: 10;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  margin: auto;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.3);
}
.dnl-btn {
  /* Adjust button styling */
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
  bottom: 60px;

}
.dnl-btn:hover{
background-color: #0056b3; /* Darker shade of the primary color on hover */
}

.otherInfo{
  
  background-color: #fff;
}
.cart_row{
  display: flex;
  gap: 5px;
  width: 100%;
}
/* profile css */
/* profile css */
.pro_btns{
  display: flex;
  align-items: center;
  gap: 5px;
}
.custom-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.custom-modal {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 500px;
}

.custom-modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.custom-modal-title {
  margin: 0;
}

.custom-modal-body {
  padding: 10px 0;
}

.close {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}


/* Loader animation */
.loader {
  width: 100px;
  height: 100px;
  border: 5px dotted black;
  border-radius: 50%;
  margin-left: -25%;
  margin-top: 30px;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 2s linear infinite;
}

/* Keyframes for loader animation */
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
  .menuloader {
    color:#000;
    font-size: 15px;
    position: absolute;
    transform: translate(-50%, -50%);
    margin-top: 20%;
    margin-left: 50%;
    width: 1em;
    height: 1em;
    display: flex;
    align-items: center;
    border-radius: 50%;
    position: relative;
    text-indent: -9999em;
    animation: mulShdSpin 1.3s infinite linear;
    transform: translateZ(0);
  }
  
  @keyframes mulShdSpin {
    0%,
    100% {
      box-shadow: 0 -3em 0 0.2em, 
      2em -2em 0 0em, 3em 0 0 -1em, 
      2em 2em 0 -1em, 0 3em 0 -1em, 
      -2em 2em 0 -1em, -3em 0 0 -1em, 
      -2em -2em 0 0;
    }
    12.5% {
      box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 
      3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, 
      -2em 2em 0 -1em, -3em 0 0 -1em, 
      -2em -2em 0 -1em;
    }
    25% {
      box-shadow: 0 -3em 0 -0.5em, 
      2em -2em 0 0, 3em 0 0 0.2em, 
      2em 2em 0 0, 0 3em 0 -1em, 
      -2em 2em 0 -1em, -3em 0 0 -1em, 
      -2em -2em 0 -1em;
    }
    37.5% {
      box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em,
       3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, 
       -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
    }
    50% {
      box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em,
       3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, 
       -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
    }
    62.5% {
      box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em,
       3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, 
       -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
    }
    75% {
      box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 
      3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, 
      -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
    }
    87.5% {
      box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 
      3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, 
      -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
    }
  }
    
  /* shape loader */
  /* HTML: <div class="loader"></div> */
.shape-loader {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  z-index: 10;
  width: 40px;
  height: 40px;
  --c:no-repeat linear-gradient(orange 0 0);
  background: var(--c),var(--c),var(--c),var(--c);
  background-size: 21px 21px;
  animation: l5 1.5s infinite cubic-bezier(0.3,1,0,1);
}
.shape-overlay{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9;
}
@keyframes l5 {
 0%   {background-position: 0    0,100% 0   ,100% 100%,0 100%}
 33%  {background-position: 0    0,100% 0   ,100% 100%,0 100%;width:60px;height: 60px}
 66%  {background-position: 100% 0,100% 100%,0    100%,0 0   ;width:60px;height: 60px}
 100% {background-position: 100% 0,100% 100%,0    100%,0 0   }
}
  .reviews{
    position: relative;
    max-height: 800px;
  }
  .imageReview{
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
  textarea{
    resize: none;
    border-radius: 10px;
    border: none;
  }
  .reviewForm{
    position: absolute;
    margin-top: -200px;
    box-shadow: 5px 5px 5px 5px grey;
    width: 500px;
    padding: 10px;
    z-index: 10;
    background-color: white;
    border-radius: 10px;
  }
  .ot{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .reviewbtn{
    display: flex;
    gap: 30px;
  }
  .not_date{
    font-size: 10px;
  }
  .not_list{
    border-bottom: 1px solid #ccc;
  }
  .profile_form{
    border: 1px solid #ccc;
    padding: 10px;
    margin-left: 40px;
    border-radius: 10px;
  }
.profile_data{
  margin-left: 100px;
}
  .not_msg{
    width: 90%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
 .profile_container{
  background-color: #fff;
  height: 100%;
 }
  .airtel img, .mtn img{
    width: 50px;
    height: 50px;
  }
 .line{
  display: flex;
  justify-content:center;
  align-items: center;
  gap: 30px;
 }
 .line li{
  cursor:pointer;
 }
  .content{
    width: 100%;
    padding: 2rem;
  }
  .active{
    color:var(--text-color);
    font-weight: 600;
  }
  .main{
    position: relative;
  }
  .main .mtn{
    position: absolute;
  }
  .mainsection{
    height: 100vh;
    width: 100%;
    padding: 10px;
  }
  .graph{
    width: 600px;
    height: 400px;
    border-radius: 10px;
  }
  .result{
    width: 100%;
    border-radius: 10px;
   padding: 10px;
    display: flex;
    flex-wrap: wrap; 
    gap: 20px;
  }
 
  .detail{
    margin-top: 10px;
    flex: 1;
    border-radius: 10px;
  }
  .list li{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid grey;
    margin-top: 5px;
  }
  .cactive{
    background-color: black;
    color: white;
    padding: 2px;
  }
  .notify{
    position: absolute;
    z-index: 10;
    margin-left:-450px;
    width: 490px;
    height: 500px;
    margin-top: 30px;
    overflow-y: scroll;
    box-shadow: 5px 5px 5px 5px rgb(163, 138, 138);
  }
  .orders{
    border: 1px solid #ccc;
    border-radius: 10px;
  }
 
  .single-cart{
    height: 30px;
    margin-top: 25px;
    margin-left: 20px;
  }
  .ordermsg .msg{
    display: flex;
    padding: 5px;
    color: black;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
  }
  .ordermsg .msg div{
    padding: 0;
    display: block;

  }
  .ordermsg .msg span{
    font-size: 12px;
  }

.icon img, .myimage{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.table_container{
  background-color: white;
  padding: 20px;
}
.imageReview {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.form_container{
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
}
.textReview {
  margin-left: 10px; 
}
.reviewForm {
  position: absolute;
  margin-top: -200px;
  box-shadow: 5px 5px 5px 5px grey;
  width: 500px;
  padding: 10px;
  z-index: 10;
  background-color: white;
  border-radius: 10px;
}
.ot {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.reviewbtn {
  display: flex;
  gap: 30px;
}
.mini {
  cursor: pointer;
}

.card h4, p{
  font-size: 15px;
}
.card {
  margin-left: 6%;
  margin-top: 3%;
}
.card img {
  width: 14rem;
  height: 13rem;
}

.stars{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  gap: 3px;
}
.stars{
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: row-reverse;
  }
  .stars span{
    margin-left: 5px;
    display: flex;
    font-size: 40px;
    cursor: pointer;
    transition:color .2s, transform .2s;
  gap: 2px;
  }
  .stars i:hover{
    color:orange;
    transform: scale(1.3);
  }
  .stars i:hover ~i{
    color:orange
  }
  .stars i[data-clicked]{
    color: orange;
  }
  .stars i[data-clicked] ~i{
    color: orange;
  }
  .star{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .rankedstar{
    color: orange;
  }

  .more {
    display: flex;
    flex-wrap: wrap; 
    gap: 20px; 
  }
  
  .graph {
    flex: 1; 
    max-width: 600px; 
    height: 100%;
  }
  .reservation{
    border: 1px solid #ccc;
    border-radius: 10px;
  }
  
  .detail {
    flex: 1; 
  }
  
  .list li {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid grey;
    margin-top: 5px;
    padding: 5px;
  }
  .norder_img{
    transform: translate(-50%, -50%);
    top:50%;
    left: 50%;
    position: absolute;
  }

  /* ------------------------------------------------media screens------------------------- */
  
@media screen and (max-width: 1000px) {
  .menu{
   display: flex;
   align-items: center;
   justify-content: center;
  }
  .single-info{
    margin-left: 30px;
  }
  .notify{
    display: none;
  }
  .result{
    display: flex;
  }
  .graph,
  .detail {
    width: 100%; 
  }
  .more {
   width: 100%;
  }
  .order{
    width: 100%;
    padding: 0px;
    margin: 0px;
  }
  .mainsection{
    width: 100%;
    padding: 0px;
    margin: 0px;
  }
  .menu_row{
    width: 100%;
  }
  .menu{
    width: 100%;
  }
  .card{
    width:100%;
  }
  .table_container{
    width: 100%;
    overflow-x: scroll;
  }
  .container{
    width: 100%;
  }
  .orders{
    overflow-x: scroll;
    width: 100%;
  }
  .reservation{
    overflow-x:scroll;
    width: 100%;
  }
  .container form{
    margin-left: -50px;
    width: 100%;
  }
  .profile_container{
    width: 100%;
    
    overflow-x: scroll;
  }
  .profile_row{
    width: 100%;

  }
  .profile_data{
    margin-top: -80px;
  }
  .profile_form{
    width: 300px;

  }
}