body{
  width: 100%;
  position: relative;
  background-color: #f5f5f9;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.links{
gap: 20px;
width: 300px;
display: flex;
margin-left: 10px;
background-color: white;
border-radius: 20px;
justify-content: center;
}
.mobile_links{
  gap: 20px;
width: 300px;
display: flex;
margin-left: 10px;
background-color: white;
border-radius: 20px;
justify-content: center;
}
.link Link{
  color: white;
}
.container{
  margin: auto;
  display: flex;
  justify-content: center;
}
.container .signImage{
  position: relative;
}
.container_sign{
  margin: auto;
  display: flex;
  justify-content: center;
 
}
.container_sign form{
  background-color: #fff;
  padding: 20px;
}
.container_sign .signImage{
  position: relative;
}
.signImage img{
  width: 100%;
}
.container form{
  box-shadow: 10px 10px 10px 5px grey;
  border-radius: 10px;
}
.containers{
  display: flex;
  flex-direction:column;
  height: 100vh;
  background-color: black;
  width: 200px;
  justify-content: space-between;
  margin-left: 0px;
  position: relative;
  z-index: 10;
}
/* .box{
  border: 2px solid black;
  width: 100%;
} */
li{
  margin: 30px 0;
  list-style: none;
  display: flex;
  gap: 5px;
}

.sidewidth{
  width: 100%;
}
.items{
  display: flex;
  justify-content: space-between;
}
.item{
  display: flex;
  align-items: center;
  gap: 5px;
  background: rgba(255, 182, 193, 0.5);
  border-radius: 10px;
  box-shadow: 5px 5px 5px grey;
  padding: 5px;
}
.item h4, p{
font-size: 15px;
}
.item h4{
  font-weight:bolder;
}
.cons{
  font-size: 40px;
}
.props{
  height: 100vh;
  overflow-y:scroll;
}
.props::-webkit-scrollbar{
  width:0px;
}
.sidewidth{
  display: flex;
  gap:5px;
}
.sidebar{
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  width: 250px;
}
.props{
  width: 100%;
}
.pssform{
  width:300px;
  margin: auto;
}
.sides{
  width: 250px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  position: relative;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  left: -250px; /* Start off-screen */
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: left 0.3s;
}
.sides.show {
  left: -20px; /* Slide into view */
}
.sides{
  left: -250px;
}
.container-notify{
  position: relative;
}
.sidelists{
  list-style: none;
  padding: 0 15px;
  position: absolute;
}

  /* ------------------------------------------------media screens------------------------- */
  
  
  