.center-content{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    transform: translate(-50%, -50%);
    margin-left: 50%;
    margin-top: 50%;
}

.swal2-container{
  z-index: 20000 !important;
}
